<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailin.blog.dao.RoleUserDao" >

  <sql id="Base_Column_List" >
    id, role_id ,user_id, operator, create_time , operate_time ,operate_ip, status
  </sql>


  <insert id="addUserRole" parameterType="roleUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `role_user` (role_id , user_id
     <if test="roleUser.operateIp != null">
       ,operate_ip
     </if>
     ) VALUES ( #{roleUser.roleId}, #{roleUser.userId}
    <if test="roleUser.operateIp != null">
      ,roleUser.operateIp
    </if>
    )
  </insert>




</mapper>