<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hailin.blog.dao.RoleUserDao" >

  <sql id="Base_Column_List" >
    id, role_id ,user_id, operator, create_time , operate_time ,operate_ip, status
  </sql>


  <insert id="addUserRole" parameterType="roleUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `role_user` (role_id , user_id
     <if test="operateIp != null">
       ,operate_ip
     </if>
      <if test="operator != null">
          ,operator
      </if>
     ) VALUES ( #{roleId}, #{userId}
    <if test="operateIp != null">
      ,#{operateIp}
    </if>
      <if test="operator != null">
          ,#{operator}
      </if>
    )
  </insert>

    <update id="updateUserRole" >
        update `role_user`
        <set>
            role_id = #{roleUser.roleId},
            <if test="roleUser.operator != null">
                operator = #{roleUser.operator},
            </if>
            <if test="roleUser.operateIp != null">
                operate_ip = #{roleUser.operateIp},
            </if>
            operate_time = now()
        </set>
        <where>
            role_id = #{oldRoleId} and user_id = #{roleUser.userId}
        </where>
    </update>




</mapper>